# -----------------------------------------------------------------------------------------
# BACK
# -----------------------------------------------------------------------------------------

back/.DS_Store
# back/.env
back/.flaskenv
back/*.pyc
back/*.pyo
back/env/
back/venv/
back/.venv/
back/env*
back/dist/
back/build/
back/*.egg
back/*.egg-info/
back/.tox/
back/.cache/
back/.pytest_cache/
back/.idea/
back/docs/_build/
back/.vscode

# Coverage reports
back/htmlcov/
back/.coverage
back/.coverage.*
back/*,cover

# -----------------------------------------------------------------------------------------
# FRONT
# -----------------------------------------------------------------------------------------

# Logs
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*
front/node_modules
front/dist
front/dist-ssr
front/*.local

# Editor directories and files
front/.vscode/*
front/!.vscode/extensions.json
front/.idea
front/.DS_Store
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?
